:root {
  --primary: #FE9B0E;
  --secondary: #4A113C;
  --secondary-light: #602752;
  --secondary-pale: #503449;
  --secondary-dark: #392534;
  --secondary-dark-pale: #261121;
  --text: #FFFFFF ;
  --text-pale: rgba(255, 255, 255, 0.7);
}
