.recommendations_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  overflow-x: hidden;

  .recommendations {
    position: relative;
    height: 100%;
    max-width: 1180px;
    margin: 0 18px;


    .title {
      width: 100%;
      min-width: 1040px;
      background: var(--secondary-pale);
      height: 59px;
      border-radius: 6px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        font-size: 21px;
        font-weight: 700;
        line-height: 25px;
      }
    }

    .recommendations_list {
      margin: 20px 0;
    }

    @include breakpoint-down(tablet) {
      width: 100%;
      margin: 0;
      .title {
        min-width: 100%;
        border-radius: 0;
      }

      .recommendations_list {
        margin: 20px 20px;
      }
    }

    @include breakpoint-down(mobile) {
      .recommendations_list {
        margin: 0;
      }

      .title {
        background: transparent;
        text-align: start;
        padding: 0 16px;
      }
    }
  }
}
